# SQL Part 3 Studio

Let's practice your SQL querying skills! For each question, work along in the notebook, adding your query and answering the questions.

## The Dataset

We will be using the Goodbooks-10k dataset from the exercises in the prep work. Feel free reference your previous notebooks.

1. The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
1. You can access `BooksDB` in the LaunchCode server.

## Business Issue

You are an employee at a small independent bookstore and you have been tasked with increasing sales.  You decide to use `BooksDB` to find books and themes to highlight in fun promotions throughout each month and/or season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of promotions to run each month.  If you are looking for ideas, here are some resources on different holidays:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, National Pie Day (3/14), St. Patrick's Day (3/17), Season - Spring

### Event 1: Women's History Month

Highlight popular women writers based on ratings from `BooksDB` by writing a query that returns `tag_id`, the number of times each `tag_id` is used and the `tag_name`. Use the `GROUP BY` and `HAVING` clause to narrow your focus and try multiple keywords, such as "woman" and "female".

In [ ]:
SELECT t.tag_name, COUNT(t.tag_name) AS Tag_Count, t.tag_id
FROM BooksDB.dbo.book_tags AS bt 
INNER JOIN BooksDB.dbo.tags AS t ON bt.tag_id = t.tag_id
GROUP BY t.tag_name, t.tag_id
HAVING t.tag_name LIKE '%women%' OR t.tag_name LIKE '%female%'
ORDER BY count(t.tag_name) DESC

### Event 2: Choose another event from March/Spring

Write a query to return authors, titles, ratings, and `tag_id` that you would want to promote during your chosen event.

In [ ]:
SELECT b.authors, b.title, b.average_rating, bt.tag_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.book_tags AS bt ON bt.goodreads_book_id = book_id
INNER JOIN BooksDB.dbo.tags AS t ON t.tag_id = bt.tag_id
WHERE t.tag_name LIKE '&math&' OR t.tag_name LIKE '%mathematics%' OR t.tag_name = 'pi' OR t.tag_name LIKE '%3.14%'
ORDER BY b.authors ASC, b.title ASC;

Record your thoughts about why you wrote the query the way you did.

We had to join 3 tables in order to link the tag_name to the title, authors, and average_rating columns. We used words like math and mathmatics to celebrate Pi Day!

# Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions:
1. Which month did you choose? November
1. What 2 events / promotions are you highlighting? Thanksgiving & Veteran's Day

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in `BooksDB` to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a `HAVING` clause.

In [ ]:
SELECT b.title, b.authors, b.average_rating, bt.tag_id, t.tag_name
FROM BooksDB.dbo.books AS b 
INNER JOIN BooksDB.dbo.book_tags AS bt ON b.best_book_id = bt.goodreads_book_id
INNER JOIN BooksDB.dbo.tags AS t ON bt.tag_id = t.tag_id
GROUP BY b.title, b.authors, b.average_rating, bt.tag_id, t.tag_name
HAVING tag_name LIKE 'veteran' OR tag_name LIKE 'army' OR tag_name LIKE 'navy'
OR tag_name LIKE 'airforce' OR tag_name LIKE 'marines'
Order BY b.average_rating DESC

### Summarize Event 1

We have joined the books table with the book_tags and tags tables. We joined all 3 in order to link the tag names with the title and authors. We searched for specific military branches and veterans to pull books to celebrate Veteran's Day.

In [ ]:
SELECT b.title, b.authors, b.average_rating, bt.tag_id, t.tag_name
FROM BooksDB.dbo.books AS b 
INNER JOIN BooksDB.dbo.book_tags AS bt ON b.best_book_id = bt.goodreads_book_id
INNER JOIN BooksDB.dbo.tags AS t ON bt.tag_id = t.tag_id
GROUP BY b.title, b.authors, b.average_rating, bt.tag_id, t.tag_name
HAVING tag_name LIKE '%thanksgiving%' OR tag_name LIKE '%turkey%' 
Order BY b.average_rating DESC

### Summarize Event 2

We have joined the books table with the book_tags and tags tables. We joined all 3 in order to link the tag names with the title and authors. We were searching for Thanksgiving related books and ordered them by highest rated.